.react-resume {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-sizing: content-box;
}

.letter {
	max-width: 8.5in !important;
	min-width: 8.5in !important;
	min-height: 11in !important;
	max-height: 11in !important;
}

.a4 {
	max-width: 210mm !important;
	min-width: 210mm !important;
	min-height: 297mm !important;
	max-height: 297mm !important;
}

.legal {
	max-width: 8.5in !important;
	min-width: 8.5in !important;
	min-height: 14in !important;
	max-height: 14in !important;
}

.react-resume h1 {
	font-size: 24px;
	margin-top: 0;
}

.react-resume h2 {
	font-size: 17px;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 0px;
}

.react-resume h3 {
	font-size: 15px;
	margin: 0;
}

.resume {
	font-size: 15px;
	padding: 0;
	margin: 0;
}

.resume-objective, .resume-education, .resume-experience, .resume-tech-skills {
	padding-left: 40px !important;
	padding-right: 40px !important;
}

section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.sectionTitle h1 {
	font-style: italic;
	font-size: 1.5em;
	color: #cf8a05;
}

.sectionContent h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 17px;
}

.sectionContent ul {
	display: block;
	list-style-position: inside;
	line-height: 1.4em;
	margin-top: 5px;
	margin-bottom: 20px;
	color: #444;
}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-top: 0;
	color: #444;
}

.detailsRow {
	display: block;
	width: 100%;
	clear: both;
	height: 1.4em;
}

.subDetails {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 3px;
}

.subDetails.left {
	float: left;
}

.subDetails.right {
	float: right;
}

.clear {clear: both;}

.resume-header {
	padding: 25px 35px;
	border-bottom: 2px solid #cf8a05;
	background: #ededed;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#headshot img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#name {
	float: left;
}

#name h1 {
	font-size: 2em;
	font-weight: 700;
	margin-bottom: -6px;
}

#name h2 {
	font-size: 1.5em;
	font-weight: 500;
	margin-left: 2px;
}

#contactDetails ul {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 2px;
}

#contactDetails {
	float: right;
}

#contactDetails ul li {
	margin-bottom: 3px;
	color: #444;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block !important;
}

html, body {
	font-family: 'Lato', helvetica, arial, sans-serif !important;
	font-size: 16px !important;
	color: #222 !important;
}

ul {
	padding-inline-start: 0;
}

.resume-tech-skills article,
.resume-education article {
	margin-bottom: 10px;
}

@media print {
	
  body * {
    visibility: hidden;
  }
  .react-resume, .react-resume * {
    visibility: visible;
  }
  .react-resume {

    padding: 0 !important;
	margin: 0 !important;
    box-shadow: none;
    -webkit-print-color-adjust: exact; 
  }
  
  @page {
   size: a4;
   margin: 0
  }
}